# --- For-Bot-Working --------- #
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiofiles
asyncio
aiohttp
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
